body {
    margin: 0;
    padding: 0;
}
.container {
    width: 1000px;
    margin: 0 auto;
}
.left {
    float: left;
}
.right {
    float: right;
}
header {
    background-color: #f5f5f5;
    border-bottom: 1px solid #ddd;
    text-align: center;
    height: 60px;
    color: #636b6f;
    font: 500 28px 'Raleway', sans-serif;
    line-height: 60px;
}
.logo:hover,
.logo:active {
    text-decoration: none;
}
main {
    min-height: 800px;
}
h4 {
    //text-align: center;
    margin-left: 30px;
    font: bold 20px 'Calibri', sans-serif;
}

article {
    margin: 20px 0;
    padding: 10px;
    border-bottom: 5px solid #bfbfbf;
    background-color: #d9d9d9;
}
article div.detail {
    min-height: 270px;
}
a {
    text-decoration: none;
    color: #333;
}
a:hover, a:active {
    text-decoration: underline;
}
form {
    margin-top: 50px;
}
textarea {
    width: 1000px;
    height: 75px;
}
input {
    margin-top: 10px;
    margin-bottom: 10px;
}
img {
    width: 250px;
    margin: 0 20px 10px 0;
}
.form {
    width: 1000px;
    height: 20px;
    display: block;
}
.down {
    border: none;

}
.date {
    float: right;
}
.date, .author {
    margin: 10px;
    font-size: 12px;
    text-align: right;
}

footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding: 20px 20px 0 20px;
    color: #999999;
    font: 16px 'Calibri', sans-serif;
}