{% extends 'base.html.twig' %}

{% block body %}
    <main class="container">
        <h4>Новости</h4>

        <article>
            <div class="detail">
                <h3>{{ article.title }}</h3>
                <div class="author">
                    {% for author in authors %}
                        {% if(null != article.author_id and article.author_id == author.id) %}
                            {{ author.name }}
                        {% endif %}
                    {% endfor %}
                </div>
                <img src="/images/{{ article.image }}" class="left" />
                {% autoescape %}
                    {{ article.text|raw }}
                {% endautoescape %}
            </div>
        </article>
    </main>
{% endblock %}
