{% extends 'base.html.twig' %}

{% block body %}
    <main class="container">
        <h4>Новости</h4>

        {% for article in news %}
            <article>
                <div>
                    <h3><a href="/news/{{ article.id }}/show">{{ article.title}}</a></h3>
                    {{ article.text|striptags|slice(0, 250)}}
                </div>
            </article>
        {% endfor %}

    </main>
{% endblock %}